.movie-list {
  width: 100%;
  display: flex;
}

.movie {
  width: 20%;
}

ul li {
  display: inline-block;
  margin: 5px;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pagination-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}



.main-container {
  position: relative;
}

.main-container > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events:none;
}

.chart-container {
  width: 3200px;
  overflow-x: auto;
}
.movie-rating-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.left-panel,
.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.panel-title {
  font-weight: 600;
  font-size: 18px;
  padding: 5px;
}

.best {
  color: green;
}

.good {
  color: blue;
}

.average {
  color: orange;
}

.poor {
  color: red;
}

.invalid {
  background-color: red;
}
