.movie-list {
  width: 100%;
  display: flex;
}

.movie {
  width: 20%;
}
.top-panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pagination-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}



 .main-container {
  overflow-x: auto;
  overflow-y:hidden;
  
}

.main-container-director {
  overflow-x: auto;
  overflow-y:hidden;
  width:10000px;
}

.chart-container {
  display: inline-block;
}

.movie-rating-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.left-panel,
.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.panel-title {
  font-weight: 600;
  font-size: 18px;
  padding: 5px;
}

.best {
  color: green;
}

.good {
  color: blue;
}

.average {
  color: orange;
}

.poor {
  color: red;
}

.invalid {
  background-color: red;
}
